Repository NickanBagherpour/my-large-scale-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backoffice-portal, business-portal, customer-portal

.gitlab-ci.yml:

stages:
  - build
  - modules

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

# Install dependencies and cache node_modules
build:
  stage: build
  tags:
  - shared
  image: node:20-alpine
  script:
    - echo "Installing dependencies..."
    - npm install
    - echo "Dependencies installed."
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 week


backoffice-portal:
  stage: modules
  trigger:
    include: apps/backoffice-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/backoffice-portal/project.json]

business-portal:
  stage: modules
  trigger:
    include: apps/business-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/business-portal/project.json]

customer-portal:
  stage: modules
  trigger:
    include: apps/customer-portal/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes: [apps/customer-portal/project.json]

fix:update dockerfile base image
  apps/backoffice-portal/Dockerfile
  apps/business-portal/Dockerfile
  apps/customer-portal/Dockerfile
Due: none

fix: range names
  libs/backoffice/widgets/service-call-log-widget/src/components/filters/filters.tsx
  libs/backoffice/widgets/service-call-log-widget/src/locales/fa.ts
  libs/backoffice/widgets/service-call-log-widget/src/types/filters.schema.ts
Due: none

feat: use inqiry api for instead of get
  libs/business/widgets/upsert-tarrif-widget/src/components/app/app.tsx
  libs/business/widgets/upsert-tarrif-widget/src/locales/fa.ts
  libs/business/widgets/upsert-tarrif-widget/src/services/api.ts
  libs/business/widgets/upsert-tarrif-widget/src/services/get-service-fee.api.ts
  libs/business/widgets/upsert-tarrif-widget/src/types/service.type.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/get-initial-data.ts
  libs/reusable-components/src/components/service-tariff/components/service-tariff.tsx
  libs/utils/src/lib/react-query-keys/portals/business/upsert-tarrif.key.ts
Due: none

fix: modify table pagination styles for mobile size
  libs/ui-kit/src/table/table.style.ts
Due: none

deploy: update test environment
  apps/business-portal/.env.development
  apps/business-portal/.env.production
  apps/business-portal/project.json
Due: business-portal

deploy: update test environment
  apps/backoffice-portal/project.json
  apps/business-portal/project.json
  apps/customer-portal/project.json
Due: backoffice-portal, business-portal, customer-portal

refactor: disabled persian scope name
  libs/backoffice/widgets/scope-creation-widget/src/components/scope-creation/scope-creation.tsx
Due: none

feat: add initial to reduce
  libs/backoffice/widgets/client-creation-widget/src/components/first-step/first-step.tsx
Due: none

refactor: move api-docs page to docs/api
  apps/customer-portal/project.json
  apps/customer-portal/src/app/(docs)/docs/api/page.tsx
  apps/customer-portal/src/app/(docs)/layout.tsx
  apps/customer-portal/src/middleware.ts
Due: customer-portal

fix: data table height and row key
  libs/backoffice/widgets/client-report-widget/src/components/client-report/client-report.tsx
  libs/backoffice/widgets/services-report-widget/src/components/data-table/data-table.tsx
  libs/business/widgets/clients-report-widget/src/components/client-report/client-report.tsx
  libs/business/widgets/services-report-widget/src/components/data-table/data-table.tsx
Due: none

deploy: update test environment
  apps/backoffice-portal/project.json
  apps/customer-portal/project.json
Due: backoffice-portal, customer-portal

feat: add real docs data
  apps/customer-portal/public/api-specs/auth.json
  apps/customer-portal/public/api-specs/loan-service.json
  apps/customer-portal/public/api-specs/statement.json
  apps/customer-portal/public/api-specs/transfer.json
  apps/customer-portal/src/app/api/auth/api-doc/route.ts
  libs/customer/widgets/api-docs-widget/src/api-docs-widget.tsx
  libs/customer/widgets/api-docs-widget/src/components/api-selector/api-selector.tsx
  libs/customer/widgets/api-docs-widget/src/components/app/app.tsx
  libs/mockify/src/data/menu.data.ts
  libs/utils/src/lib/routes.ts
Due: none

fix: translation files and selectbox view
  libs/customer/widgets/api-docs-widget/src/components/api-selector/api-selector.style.tsx
  libs/customer/widgets/api-docs-widget/src/components/api-selector/api-selector.tsx
  libs/customer/widgets/api-docs-widget/src/components/app/app.tsx
  libs/customer/widgets/api-docs-widget/src/components/enhanced-redoc/enhanced-redoc.tsx
  libs/customer/widgets/api-docs-widget/src/locales/fa.ts
Due: none

fix: logo without text in appbar
  libs/customer/widgets/api-docs-widget/src/components/api-selector/api-selector.style.tsx
  libs/customer/widgets/api-docs-widget/src/components/api-selector/api-selector.tsx
  libs/customer/widgets/api-docs-widget/src/components/app/app.tsx
  libs/customer/widgets/api-docs-widget/src/locales/fa.ts
Due: none

deploy: update test environment
  apps/customer-portal/project.json
Due: customer-portal

deploy: update test environment
  apps/backoffice-portal/project.json
  apps/business-portal/project.json
Due: backoffice-portal, business-portal

feat: show typeFieldName in tariff-details
  libs/business/widgets/tariff-details-widget/src/components/general-nformation/general-information.tsx
  libs/business/widgets/tariff-details-widget/src/types/get-report.type.ts
Due: none

feat: handle transferTypeParamElastic in upsert-tariff
  libs/business/widgets/upsert-tarrif-widget/src/components/app/app.tsx
  libs/business/widgets/upsert-tarrif-widget/src/types/app.schema.ts
  libs/business/widgets/upsert-tarrif-widget/src/types/service.type.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/get-initial-data.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/service-params.ts
Due: none

feat: add default values for initial values
  libs/business/widgets/upsert-tarrif-widget/src/types/service.type.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/get-initial-data.ts
Due: none

fix: a type error
  libs/business/widgets/upsert-tarrif-widget/src/services/get-service-fee.api.ts
  libs/reusable-components/src/components/service-tariff/components/special/special.tsx
  libs/reusable-components/src/components/service-tariff/components/tiered/tiered.tsx
Due: none

fix: update the logic of put or post requests
  libs/business/widgets/upsert-tarrif-widget/src/components/app/app.tsx
Due: none

fix: add percent icon to special-tariff component
  libs/reusable-components/src/components/service-tariff/components/special/special.style.tsx
  libs/reusable-components/src/components/service-tariff/components/special/special.tsx
Due: none

feat: make some input accept the * char
  libs/business/widgets/upsert-tarrif-widget/src/types/app.schema.ts
  libs/business/widgets/upsert-tarrif-widget/src/types/service.type.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/get-initial-data.ts
  libs/business/widgets/upsert-tarrif-widget/src/utils/service-params.ts
  libs/utils/src/lib/validation/validation.schema.ts
Due: none

fix: handle initial aggregationType
  libs/business/widgets/upsert-tarrif-widget/src/utils/get-initial-data.ts
Due: none

feat: change the content
  apps/customer-portal/public/api-specs/auth.json
  apps/customer-portal/public/api-specs/loan-service.json
  apps/customer-portal/public/api-specs/oxygen-services-v2.json
  apps/customer-portal/public/api-specs/oxygen-services.json
  apps/customer-portal/public/api-specs/statement.json
  apps/customer-portal/public/api-specs/transfer.json
  apps/customer-portal/public/api-specs/user-management.json
  libs/customer/widgets/api-docs-widget/src/locales/fa.ts
Due: none

feat: change version
  apps/customer-portal/project.json
Due: customer-portal

feat: change validations and remve unnecessary files
  libs/backoffice/widgets/edit-service-widget/src/types/edit-service.schema.ts
  libs/backoffice/widgets/service-list-widget/src/components/filters/filters.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/inquiry-service.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/inquiry-service.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/search-box.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/search-box.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-exists-in-BAAM.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-exists-in-BAAM.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-exists.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-exists.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-incomplete.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-incomplete.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-not-found.style.tsx
  libs/backoffice/widgets/service-list-widget/src/components/service-inquiry/service-not-found.tsx
  libs/backoffice/widgets/service-list-widget/src/services/get-inquiry.api.ts
  libs/backoffice/widgets/service-list-widget/src/services/upload-service.api.ts
  libs/backoffice/widgets/service-list-widget/src/types/get-Inquiry-info.type.ts
  libs/backoffice/widgets/service-list-widget/src/types/inquire-service.schema.ts
  libs/backoffice/widgets/service-list-widget/src/utils/consts.ts
  libs/reusable-components/src/components/inquiry/client-inquiry.schema.ts
  libs/reusable-components/src/components/inquiry/inquiry.schema.ts
  libs/reusable-components/src/components/inquiry/service-client-inquiry.tsx
  libs/reusable-components/src/index.ts
  libs/translation/src/lib/locales/fa.ts
  libs/utils/src/lib/pattern-util.ts
  libs/utils/src/lib/validation/validation.schema.ts
Due: none

feat: remove unused api
  libs/backoffice/widgets/service-list-widget/src/services/api.ts
Due: none

fix: document ui
  apps/backoffice-portal/project.json
  libs/backoffice/widgets/service-call-log-widget/src/components/filters/filters.tsx
Due: backoffice-portal

fix: improve styles on rtl
  libs/customer/widgets/api-docs-widget/src/components/redoc-wrapper/redoc-wrapper.style.tsx
Due: none

build: new version
  apps/customer-portal/project.json
Due: customer-portal

fix: make table's paragraphs direction dependant on the langauge
  libs/customer/widgets/api-docs-widget/src/components/redoc-wrapper/redoc-wrapper.style.tsx
Due: none

fix: correct api docs id for the drawer menu
  libs/mockify/src/data/menu.data.ts
Due: none

fix: testing if dashboards 404 is because of env varaibles
  apps/customer-portal/.env.production
  apps/customer-portal/project.json
Due: customer-portal

fix: use global .env
  apps/customer-portal/.env.production
  apps/customer-portal/project.json
Due: customer-portal

fix: make customer-portal use the global env file
  apps/customer-portal/project.json
Due: customer-portal

Update project.json
  apps/backoffice-portal/project.json
Due: backoffice-portal

Update project.json
  apps/customer-portal/project.json
Due: customer-portal
