Repository NickanBagherpour/my-large-scale-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backoffice-portal, business-portal, customer-portal

backoffice-portal:
  trigger:
    include: apps/backoffice-portal/.gitlab-ci.yml
    strategy: depend

business-portal:
  trigger:
    include: apps/business-portal/.gitlab-ci.yml
    strategy: depend

customer-portal:
  trigger:
    include: apps/customer-portal/.gitlab-ci.yml
    strategy: depend

hotfix
  apps/backoffice-portal/.gitlab-ci.yml
Due: backoffice-portal

hotfix
  .gitlab-ci.yml
  apps/backoffice-portal/.gitlab-ci.yml
Due: backoffice-portal

hotfix
  apps/backoffice-portal/.npmrc
  apps/backoffice-portal/Dockerfile
Due: backoffice-portal

update ci/cd
  apps/backoffice-portal/Dockerfile
Due: backoffice-portal

feat: complete draft to steps
  libs/customer/widgets/request-registration-widget/src/services/api.ts
Due: none

feat: done drafts to steps also datepicker
  libs/customer/widgets/request-registration-widget/src/components/app/app.tsx
  libs/customer/widgets/request-registration-widget/src/components/first-step/first-step.tsx
  libs/customer/widgets/request-registration-widget/src/components/fourth-step/fourth-step.tsx
  libs/customer/widgets/request-registration-widget/src/context/reducer.ts
  libs/customer/widgets/request-registration-widget/src/services/api.ts
  libs/ui-kit/src/date-picker/date-picker.tsx
Due: none

fix: fix table row key and table row counter
  libs/backoffice/widgets/scope-information-widget/src/components/second-tab/second-tab.tsx
  libs/backoffice/widgets/scope-information-widget/src/utils/second-tab-table-utils.tsx
Due: none

fix: fix table row key from index to id
  libs/backoffice/widgets/scope-information-widget/src/components/second-tab/second-tab.tsx
Due: none

update ci/cd
  apps/backoffice-portal/.gitlab-ci.yml
  apps/backoffice-portal/.npmrc
Due: backoffice-portal

update ci/cd
  apps/backoffice-portal/.gitlab-ci.yml
Due: backoffice-portal

feat: commit edit info and change password in customer appbar user menu
  libs/customer/layouts/src/components/appbar/appbar-user-menu.tsx
Due: none

feat: commit edit info and change password in business appbar user menu
  libs/business/layouts/src/components/appbar/appbar-user-menu.tsx
Due: none

feat: commit edit info and change password in backoffice appbar user menu
  libs/backoffice/layouts/src/components/appbar/appbar-user-menu.tsx
Due: none

update ci/cd
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: business-portal, customer-portal

update ci/cd
  apps/business-portal/Dockerfile
  package.json
Due: business-portal

update ci/cd
  apps/customer-portal/Dockerfile
Due: customer-portal

update ci/cd
  apps/backoffice-portal/Dockerfile
  apps/business-portal/Dockerfile
  apps/customer-portal/Dockerfile
Due: backoffice-portal, business-portal, customer-portal

feat: complete api edit functionality
  libs/business/widgets/edit-request-list-widget/src/components/app/app.tsx
  libs/business/widgets/edit-request-list-widget/src/components/data-table/data-table.tsx
  libs/business/widgets/edit-request-list-widget/src/components/filter/filter.style.tsx
  libs/business/widgets/edit-request-list-widget/src/services/api.ts
  libs/business/widgets/edit-request-list-widget/src/utils/request-list.util.tsx
  libs/business/widgets/request-details-widget/src/components/details-collapse/details-collapse.tsx
  libs/business/widgets/request-list-widget/src/components/app/app.tsx
  libs/business/widgets/request-list-widget/src/components/filter/filter.tsx
  libs/business/widgets/request-list-widget/src/utils/helper.tsx
  libs/utils/src/lib/routes.ts
  libs/utils/src/lib/util.ts
Due: none

update ci/cd
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

update ci/cd
  .gitlab-ci.yml
  apps/backoffice-portal/Dockerfile
  apps/business-portal/Dockerfile
  apps/customer-portal/Dockerfile
Due: backoffice-portal, business-portal, customer-portal

update ci/cd
  .gitlab-ci.yml
  Makefile
  docker-compose.yml
Due: none

fix: get user info if token cookie exists
  libs/backoffice/layouts/src/services/use-get-user-info.ts
  libs/business/layouts/src/services/use-get-user-info.ts
Due: none

update ci/cd only develop
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

hotfix cache node_modules
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

business portal ci
  apps/business-portal/.gitlab-ci.yml
Due: business-portal

business portal ci
  .gitlab-ci.yml
  apps/backoffice-portal/project.json
  apps/business-portal/project.json
  apps/customer-portal/project.json
Due: backoffice-portal, business-portal, customer-portal

business portal ci
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

business portal ci
  apps/backoffice-portal/Dockerfile
  apps/business-portal/Dockerfile
  apps/customer-portal/Dockerfile
Due: backoffice-portal, business-portal, customer-portal

hotfix
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

hotfix
  apps/customer-portal/.gitlab-ci.yml
Due: customer-portal

hotfix
  .dockerignore
  apps/backoffice-portal/.gitlab-ci.yml
  apps/business-portal/.gitlab-ci.yml
  apps/customer-portal/.gitlab-ci.yml
Due: backoffice-portal, business-portal, customer-portal

Path conditions:
  backoffice-portal: any of: apps/backoffice-portal/*
  business-portal: any of: apps/business-portal/*
  customer-portal: any of: apps/customer-portal/*
